* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    background: #000;
    background-size: cover, auto;
    background-attachment: fixed;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: fit-content;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: opacity .5s ease-in-out;
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #00d4ff;
    font-size: 2.5em;
    margin-bottom: 30px;
    text-shadow: 1px 1px 10px rgba(27, 55, 61, 0.5);
    transition: all .3s;
    border-radius: 20px;
}

.title span {
    transition: transform 0.3s ease-out;
    display: inline-block;
}

.title:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-shadow: 2px 2px 3px rgb(249, 6, 6);
}

.title div {
    margin-inline: 20px;
}

.title:hover span:nth-child(even) {
    cursor: pointer;
    transform: translateY(-5px);
}

.title:hover span:nth-child(odd) {
    cursor: pointer;
    transform: translateY(5px);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 15px 0;
}

a {
    display: inline-block;
    padding: 12px 25px;
    background-color: #00d4ff;
    color: #1e1e2f;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

a:hover {
    background-color: #00aaff;
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(0, 212, 255, 0.7);
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    a {
        padding: 10px 20px;
        font-size: 0.9em;
    }
}